@model ProiectDAW.Models.Post

@if (!ViewData.ModelState.IsValid) //validare ca postarea sa nu fie goala
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(false)
    </div>
}

<h2>Edit post</h2>
<br />

<form id="edit_post_form" enctype="multipart/form-data" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Description" class="form-label">Description</label>
        <br />
        <input asp-for="Description" class="form-control" />
        <br /><br />
    </div>

    <br />
    @if (!string.IsNullOrEmpty(Model.Image)) 
    {
        @if (Model.Image.Contains(".mp4") || Model.Image.Contains(".mov"))
        {
            <video width="100" height="100" controls> <source src="@Model.Image" type="video/mp4"> Your browser does not support the video tag. </video>
        }
        else
        {
            <img src="@Model.Image" alt="Image" style="width: 100%; height: 450px; object-fit: cover" />
        }
    }
    <br />
    <br />
    <div class="form-group">
        <label asp-for="Image">Upload a new image</label>
        <input asp-for="Image" class="form-control" type="file" />
        @* <span asp-validation-for="Image" class="text-danger"></span> *@
    </div>
    <br />
    @if (Model.Image != null)
    {
        <div>
            <a class="btn btn-outline-primary" href="/Posts/DeleteImage/@Model.Id">Delete image</a>
        </div>
        <br />
    }
     

     <div>
        <label asp-for="linkVideo" class="form-label">Youtube video link</label>
        <input asp-for="linkVideo" class="form-control" type="text"/>
    </div>
    <br />
    @if (Model.Location != null)
    {
        <partial name="MapShow" model="Model.Location" />
        <div>
            <a class="btn btn-outline-primary" asp-controller="Posts" asp-action="DeleteLocation" asp-route-id="@Model.Id">Delete location</a>
        </div>
    }
    else{
        <div>
            
            <input id="autocomplete" type="text" placeholder="Introduceți locația" style="width: 100%; padding: 10px; margin-bottom: 10px;">
            <partial name="MapEdit" model="Model"></partial>
        </div>

        <div>
            <a id="addLocation" class="btn btn-outline-primary">Add location</a>
        </div>

    }
     <br />

     <div class="d-flex justify-content-between">
        <!-- Buton Save -->
        <button class="btn btn-success" type="submit">Save</button>

        <!-- Formular pentru Stergere -->
        <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
            <button class="btn btn-danger" type="submit">Delete Post</button>
        </form>
    </div>



    @* <button class="btn btn-success" type="submit">Save</button> *@
    @* <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id"> *@
    @* <button type="submit">Sterge postarea</button> *@
    @* </form> *@
<br />
</form>

   