@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />
<br />

<h2 class="text-center">Users</h2>
<br />

@if (ViewBag.Message != null)
{
        <div class="alert alert-success">
        @ViewBag.Message
        </div>
}

<form method="GET">

    <div class="">
        <input type="text" class="form-control" placeholder="Look for someone" name="search"
            value="@ViewBag.SearchString">
        </input>
        <br />
        @* <button class="btn send_text2" type="submit"> *@
        @*     Search *@
        @* </button> *@
        
        <button class="send_text2" type="submit">
            <a class="btn btn-success" style="color: white">Search</a>
        </button>

    </div>

</form>

<br />
<hr />

@foreach (var applicationUser in ViewBag.ApplicationUsers)
{
    <div class="container">
        <div class="card-body">
            @if (applicationUser.ProfilePic != null)
            {
                <div class="image_5">
                    <img src="@applicationUser.ProfilePic" alt="Profile Picture" class="img-fluid rounded-circle" style="max-width: 100px;">
                </div>
            }
            else
            {
                <div class="image_5">
                    <img src="~/images/blank-profile-picture-973460_1280.png" alt="Profile Picture" class="img-fluid rounded-circle" style="max-width: 100px;">
                </div>
            }
            <h3 class="card-title">
                <a class="text-decoration-none" asp-controller="ApplicationUsers" asp-action="Show" asp-route-id="@applicationUser.Id">@applicationUser.UserName</a>
            </h3>
            <h2>@applicationUser.FirstName @applicationUser.LastName</h2>
            <p class="card-text">@applicationUser.Description<p />
        </div>
    </div>

    @if (TempData[applicationUser.Id.ToString()] == "1")
    {
        @* unfollow pt request *@
        <p class="ms-1">@applicationUser.FollowersCount Followers</p>
        <form method="post" asp-controller="ApplicationUsers" asp-action="Unfollow" asp-route-id="@applicationUser.Id" class="d-flex align-items-center">
            <button class="send_text2" type="submit">
                <a class="btn btn-success" style="color: white">Requested</a>
            </button>
        </form>
    }
    else if (TempData[applicationUser.Id.ToString()] == "2")
    {
        @* unfollow pt following *@
        <p class="ms-1">@applicationUser.FollowersCount Followers</p>
        <form method="post" asp-controller="ApplicationUsers" asp-action="Unfollow" asp-route-id="@applicationUser.Id" class="d-flex align-items-center">
            <button class="send_text2" type="submit">
                <a class="btn btn-success" style="color: white">Following</a>
            </button>
        </form>
    }
    else
    {
		@* follow *@
        <p class="ms-1">@applicationUser.FollowersCount Followers</p>
        <form method="post" asp-controller="ApplicationUsers" asp-action="Follow" asp-route-id="@applicationUser.Id" class="d-flex align-items-center">
            <button class="send_text2" type="submit">
                <a class="btn btn-success" style="color: white">Follow</a>
            </button>
        </form>
    }

    @if( ViewBag.IsAdmin == true)
	{
        <br />
		<form method="post" asp-controller="ApplicationUsers" asp-action="Delete" asp-route-id="@applicationUser.Id" class="d-flex align-items-center">
			<button class="send_text2" type="submit">
				<a class="btn btn-danger" style="color: white">Delete User</a>
			</button>
		</form>
	}

	<hr />
}