@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Security.Claims
@model ProiectDAW.Models.ApplicationUser
<br />

<div class="container">
    @if (ViewBag.IsCurrentUser)
    {
        <button class="btn btn-outline-primary">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
        </button>
    }
    <br />
    <button class="btn btn-success">
        <a asp-controller="ApplicationUsers" asp-action="Index" class="btn btn-success">Back to users</a>
    </button>
</div>

<br />

<div class="card">
    <div class="card-body">

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        }

        <img src="@Model.ProfilePic"/>

        <h3 class="card-title">@Model.UserName</h3>
        <br />
        <h2class="card-title">@Model.FirstName &nbsp; @Model.LastName</h2>
        <br />
        <p class="card-text">@Model.Description<p />
            <br />
            <div />

    </div>
</div>

@if (Model.Privacy == false || ViewBag.IsCurrentUser)
{
    <div class="card">
        <h2>Posts</h2>
        <br />
        @if (Model.Posts != null)
        {
            @foreach (var post in Model.Posts)
            {
                <partial name="PostIndexShow" model="post" />
            }
        }
        else
        {
            <p>No posts found</p>
        }

        <br />
    </div>
}
else
{
	<p>This user has a private profile</p>

}

