
@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@if (Model.Comments != null)
{
    @foreach (var comm in Model.Comments)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-8">

                    <div>

                        <p>@comm.Text</p>
                        <small>@comm.Date</small>
                        <strong><i class="bi bi-person">@comm.User.UserName</i></strong>


                    </div>
                    <br>

                    <div class="d-flex">

                        @if (ViewBag.Buttons == true)
                        {
                            <div>

                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>

                            </div>
                        }
                       

                        <div>
                            @if (ViewBag.Buttons == true)
                            {
                                <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                                </form>
                            }
     
                        </div>

                    </div>

                    <br />

                </div>

                <div class="col-md-2"></div>

            </div>

        </div>
    }
}

@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" asp-controller="Posts" asp-action="Show">
                    <div class="card-body">
                        <input type="hidden" name="PostId" value="@Model.Id" />
                        <label>Continut comentariu</label> <br />
                        <textarea class="form-control" name="Text"></textarea>
                        <button class="btn btn-success " type="submit">Adauga comentariul</button>
                    </div>
                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
