@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using System.Security.Claims


@model ProiectDAW.Models.Group

<div class="container">

    <br />
    <br />
    <br />
    <br />
    <br />

    <button class="send_text2">
        <a asp-controller="Groups" asp-action="Index" class="btn btn-success">Back to groups</a>
    </button>
</div>

<br />

<div class="card">
    <div class="card-body">

        @if (TempData["message"] != null)
        {
            <div class="alert alert-success">
                @TempData["message"]
            </div>
        }

        <h3 class="card-title">@Model.Name</h3>
        <br />
        <p class="card-text">@Model.Description<p/>
        <br />
        <p class="card-text">Moderated by <a>@Model.Moderator.UserName</a></p>
        <br />

        @if (Model.ModeratorId == ViewBag.CurrentUser)
        {
            <button class="send_text2">
                <a asp-controller="Groups" asp-action="Members" asp-route-id="@Model.Id" class="btn btn-success">Members</a>
            </button>
            <button class="send_text2">
                <a asp-controller="Groups" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit Group</a>
            </button>
        }
        @if (Model.ModeratorId == ViewBag.CurrentUser || ViewBag.IsAdmin == true)
        {
            <form method="post" asp-controller="Groups" asp-action="Delete" asp-route-id="@Model.Id" class="d-flex align-items-center">
                <button class="send_text2" type="submit">
                    <a class="btn btn-danger" style="color: white">Delete Group</a>
                </button>
            </form>
        }
            

   </div>
</div>

<br />

@if (ViewBag.IsMember == true)
{
    @if (ViewBag.CurrentUser != Model.ModeratorId)
    {
        <button class="send_text2">
            <a asp-controller="Groups" asp-action="RemoveMember" asp-route-idGroup="@Model.Id" asp-route-idUser="@ViewBag.CurrentUserId" class="btn btn-success">Leave group</a>
        </button>
    }
    <button class="send_text2">
        <a asp-controller="Groups" asp-action="NewGroupPost" asp-route-id="@Model.Id" class="btn btn-success">Add post</a>
    </button>

    <br />
}

@if (Model.ModeratorId == ViewBag.CurrentUser)
{
    <br />
    <h2>Requests</h2>
    @foreach (var request in Model.GroupRequests)
		{
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">@request.User.UserName</h5>
                    <button class="send_text2">
                        <a class="btn btn-success" asp-controller="Groups" asp-action="Accept" asp-route-idGroup="@Model.Id" asp-route-idUser="@request.UserId">Accept</a>
                    </button>
                    <button class="send_text2">
                        <a class="btn btn-success" asp-controller="Groups" asp-action="Reject" asp-route-idGroup="@Model.Id" asp-route-idUser="@request.UserId">Reject</a>
                    </button>
				</div>
			</div>
		}
}

<br />

@if (ViewBag.IsMember == true)
{
        @if (Model.Posts != null)
        {
            @foreach (var post in Model.Posts)
            {
                <partial name="PostIndexShow" model="post" />
            }
        }

        <br />
}
else
{
    <div class="send_text2">
        <a  class="btn btn-success" asp-controller="Groups" asp-action="Join" asp-route-id="@Model.Id">Join group</a>
		</div>
}
<br />
<br />
